@charset "UTF-8";

body {
	font-family: 'lucida console', monospace;
	font-size: 11px;
	background:#002b36;
	color: #586e75;
}

textarea {
	font-size: 12px;
	font-family: 'lucida console', monospace;
	padding: 0;
	border: none;
	border-top: 1px solid #335e69;
	border-bottom: 1px solid #335e69;
	background:#113c47;
	color: #93a1a1;
	width: 100%;
}

h1 {
	font-size: 1.4em;
}
a, a:hover, a:visited, a:focus {
	text-decoration: none;
	color: #ccf;
}
.highlight {
	font-size: 12px;
	line-height: 14px;
	width: 100%;
}
pre {
	counter-reset: line-numbering;
	white-space: pre-wrap;
}
pre a::before {
	background-color: #335e69;
	content: counter(line-numbering);
	counter-increment: line-numbering;
	display: inline-block;
	margin-right: 8px;
	min-width: 30px;
	padding: 1px;
	padding-bottom: none;
	text-align: right;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.highlight > pre > span {
	display: block;
	width: 100%;
}
.highlight > pre > span:hover {
	background-color: #113c47;
}
.selected {
	background-color: #335e69;
}
